.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-slide infinite 120s linear;
}

.App-header {
  background-color: #e5b679;
  height: 196px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-slide {
  0% { transform: translate(-100px, 10px); }
  20% { transform: translate(50px, -10px); }
  40% { transform: translate(100px, 10px); }
  60% { transform: translate(-50px, -10px); }
  80% { transform: translate(150px, 20px); }
  100% { transform: rotate(-100px, 10px); }
}
